<!--<ehr-form-description-renderer #renderer [formDescription]="form['description']" [formLayout]="form['layout']"-->
<!--[values]="values"></ehr-form-description-renderer>-->
<!--<h1>BMI simple</h1>-->
<mrd-labeled-input [inputClasses]="['col-sm-6']" [labelClasses]="['col-sm-6', 'text-sm-right']">
  <!--<mrd-field-label>BMI</mrd-field-label>-->
  <mrd-field-content>
    <span *ngIf="(modelValue$|async)>10 && (modelValue$|async)<40">
      BMI: <h3 style="display: inline">{{modelValue$|async}}</h3>
      <h4 style="float: right" [ngClass]="styleBmi(modelValue$|async)">{{styleBmi(modelValue$|async)}}</h4>
    </span>
  </mrd-field-content>
</mrd-labeled-input>
