/* You can add global styles to this file, and also import other style files */
@import "~thinkehr-forms/src/_ehr-form-base-styles.scss";

ehr-form {
@import "~thinkehr-forms/src/theme/all-gray.scss";
}
.no-border {
  border: 0!important;
}

.wrapper {
  border: 1px solid grey;
  padding: 10px;
}
